html,
body {
	height: 100%;
	color: #fff;
	font-family: 'Noto Serif JP', serif;
	font-size: 20px;
}

@media screen and (max-width: 900px) {

	html,
	body {
		font-size: 18px;
	}
}

body {
	background-color: #333;
}

.sp_br {
	display: none;
}

@media screen and (max-width: 700px) {
	.sp_br {
		display: block;
	}
}


header {
	width: 100%;
	background-color: transparent;
	position: fixed;
	z-index: 999;
}

.header_listitem {
	padding: 0 15px;
}

a.tiktok_txt {
	font-family: 'Montserrat', sans-serif;
	font-size: 120%;
	color: #fff;
	text-decoration: none;
}

@media screen and (max-width: 700px) {
	a.tiktok_txt {
		font-size: 90%;
	}
}


ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-inline-start: 0px;
}

@media screen and (max-width: 700px) {
	ul {
		justify-content: center;
	}
}

.icon_youtube {
	width: 40px;
	height: 30px;
	display: block;
	background-image: url('../images/icon_youtube.png');
	background-size: contain;
	background-repeat: no-repeat;
}

@media screen and (max-width: 700px) {
	.icon_youtube {
		width: 30px;
		height: 20px;
	}
}

.icon_twitter {
	width: 40px;
	height: 32px;
	/*元サイズの25%の幅の余白必要*/
	display: block;
	background-image: url('../images/icon_twitter.png');
	background-size: contain;
	background-repeat: no-repeat;
}

@media screen and (max-width: 700px) {
	.icon_twitter {
		width: 25px;
		height: 20px;
		/*元サイズの25%の幅の余白必要*/
	}
}

.icon_instagram {
	width: 32px;
	height: 32px;
	/*元サイズの50%の幅の余白必要*/
	display: block;
	background-image: url('../images/icon_instagram.png');
	background-size: contain;
	background-repeat: no-repeat;
}

@media screen and (max-width: 700px) {
	.icon_instagram {
		width: 20px;
		height: 20px;
		/*元サイズの50%の幅の余白必要*/
	}
}

.icon_note {
	width: 90px;
	height: 32px;
	display: block;
	background-image: url('../images/icon_note.png');
	background-size: contain;
	background-repeat: no-repeat;
}

@media screen and (max-width: 700px) {
	.icon_note {
		width: 56px;
		height: 20px;
	}
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 200%;
	margin-bottom: 50px;
}


.fixed_bg_title,
.fixed_bg_music {
	display: block;
	position: sticky;
	top: 0;
	z-index: -1;
	height: 0;
	max-height: 0;
	overflow: visible;
}

.fixed_bg_title::after,
.fixed_bg_music::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.fixed_bg_title::after {
	background-position: left;
	background-image: url('../images/index_bg.jpg');
	/*https://www.photo-ac.com/main/detail/2764464&title=PA%E5%8D%93%E3%83%BB%E3%83%9F%E3%82%AD%E3%82%B5%E3%83%BC*/
	}
.fixed_bg_music::after {
	background-image: url('../images/music_bg.jpg');
	/*https://www.pakutaso.com/20220106012post-38326.html*/
}


.sub_title {
	font-size: 50%;
}


.section {
	padding: 120px 40px 140px;
	text-align: center;
	background-color: #333;
}

@media screen and (max-width: 700px) {
	.section {
		padding: 60px 20px 70px;
	}
}
.section_bg{
	padding: 120px 40px 140px;
	text-align: center;
}
@media screen and (max-width: 700px) {
	.section_bg {
		padding: 60px 20px 70px;
	}
}

.section_title {
	padding: 70px 40px 70px;
	font-size: 300%;
	text-align: center;
}

@media screen and (max-width: 900px) {
	.section_title {
		font-size: 250%;
	}
}

@media screen and (max-width: 700px) {
	.section_title {
		font-size: 200%;
		padding: 70px 20px 35px;
		text-align: center;
	}
}

.twitter_timeline {
	max-width: 600px;
	padding: 10px;
	margin: 0 auto;
}

footer {
	background-color: #333;
	padding: 10px;
}

.footer_copyright {
	text-align: center;
	font-size: 13px;
}
